<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become an Admin</title>
</head>
<body>
    <main class="adminDiv">
        <h1>Become an Administrator</h1>
        <p>
            Enter the secret admin passcode to gain administrative priviliges, such as deleting messages.
        </p>

        <% if(typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul style="color: red; list-style-type: none; padding: 0;">
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <form action="/be-admin" method="post" class="adminForm">
            <label for="passcode">Admin Passcode:</label>
            <input type="password" name="passcode" id="passcode" required><br><br>

            <button type="submit">Unlock Admin Status</button>
        </form>

        <p><a href="/">Back to Home</a></p>
    </main>
</body>
</html>