<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <main class="logInDiv">
        <h1>Log In to your account</h1>

        <% if(typeof messages !== 'undefined' && messages.length > 0) { %>
            <ul style="color: red; list-style-type: none; padding: 0;">
                <% messages.forEach(message => { %>
                    <li><%= message %></li>
                <% }) %>
            </ul>
        <% } %> 

        <form action="/log-in" method="post" class="logInForm">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Type your username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br><br>

            <button type="submit" class="submitBtn">Log In</button><br><br>
            <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
        </form>

        <p><a href="/">Back to Home</a></p>
    </main>
</body>
</html>